@using MailSender.Extensions
@model  MailSender.Models.ViewModels.EmailMessageViewModel


<div id="message-frame" class="mt-5">
    <div class="mx-5 my-5">
        <h2>Message to:&nbsp; <span class="msg-view-header">@Model.EmailMessage.ToEmail</span></h2>
        <h4>Sent:&nbsp; <span class="msg-view-header">@Model.EmailMessage.SentDate.ToString()</span></h4>
        <h4>
            From:&nbsp;<span class="msg-view-header">
                @Model.EmailMessage.UserEmailAccountParams.SenderName
                <span> &nbsp;&nbsp; [</span>
                @Model.EmailMessage.UserEmailAccountParams.SenderEmail
                <span>]</span>
            </span>
        </h4>
        <br />
        <h3>Subject:&nbsp; <span class="msg-view-header">@Model.EmailMessage.Subject</span></h3>
        <hr class="my-4" />

        <div>
            @Html.Raw(WebUtility.HtmlDecode(Model.EmailMessage.Body))
        </div>

        <hr class="my-4" />

        <div>

            @if (!string.IsNullOrEmpty(Model.EmailMessage.AttachmentsFileNames))
            {
                var directoryPath = Model.EmailMessage.GetAttachmentsDirectoryPath();
                var listOfAttachments = Model.EmailMessage.GetAttachmentFilesList();

                <h5 class="text-info">Attachments:</h5>

                <ul>
                    @foreach (var fileName in listOfAttachments)
                    {
                        if (File.Exists(directoryPath+fileName))
                        {
                            <li>
                                <a href="@Url.Action("Download", "Home",
                                new {fileName= fileName, directoryPath= directoryPath, @class="btn btn-link"})">
                                    @fileName
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="" class="btn btn-link disabled">@fileName</a>
                            </li>
                        }
                    }
                                        
                </ul>
            }

        </div>
    </div>
</div>
