@model MailSender.Models.ViewModels.SentMessagesViewModel

@{
    ViewBag.Title = $"{@User.Identity.Name}'s E-mails";
}


<div class="btn-toolbar justify-content-between">
    <div class="input-group">
        <h1 class="">@User.Identity.Name's E-mails: </h1>
    </div>

    <div class="input-group">
        @if (Model.UserEmailAccountParams.Count() == 0)
        {
            <button class="btn btn-info btn-lg disabled">
                <i class="fa-solid fa-envelope-open-text me-2"></i>
                New E-mail
            </button>
        }
        else
        {
            <button class="btn btn-info btn-lg"
                    onclick='window.location.href="@Url.Action("NewEmail", "Home")"'>
                <i class="fa-solid fa-envelope-open-text me-2"></i>
                New E-mail
            </button>
        }

    </div>
</div>

<hr />

@if (Model.EmailMessages != null && Model.EmailMessages.Any())
{
    <table id="messagesTable" class=" messagesTable table display table-hover table-striped mt-5 mb-5 text-center align-middle">
        <thead class="table-primary text-center dt-head-center">
            <tr>
                <th scope="col" style="width: 8%">DATE</th>
                <th scope="col" style="width:10%">RECEIVER</th>
                <th scope="col" style="width:3%"><i class="fa-solid fa-paperclip"></i></th>
                <th scope="col" style="width:20%">SUBJECT</th>
                <th scope="col" style="width:auto">MESSAGE</th>
                <th scope="col" style="width:5%"><i class="fa-solid fa-magnifying-glass"></i></th>
                <th scope="col" style="width:5%"><i class="fa-solid fa-trash-can"></i></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var message in Model.EmailMessages)
            {
                <tr>
                    <td>@message.SentDate.ToString()</td>
                    <td>@message.ToEmail</td>
                    @if (!string.IsNullOrEmpty(message.AttachmentsFileNames))
                    {
                        <td><i class="fa-solid fa-paperclip text-primary"></i></td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td>@message.Subject</td>

                    @if (string.IsNullOrEmpty(message.Body) ||
                            WebUtility.HtmlDecode(message.Body).Length < 300)
                    {
                        <td class="text-start">@Html.Raw(WebUtility.HtmlDecode(message.Body))</td>
                    }
                    else
                    {
                        <td class="text-start">@Html.Raw(WebUtility.HtmlDecode(message.Body).Substring(0, 300))<span>(...)</span></td>
                    }

                    <td>
                        <button class="btn btn-sm btn-success"
                                onclick='window.location.href="@Url.Action("ViewMessage", "Home", new { id = message.Id })"'>
                            View
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-danger"
                                onclick="deleteMessage('@message.Id', this)">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    if (Model.UserEmailAccountParams.Count() == 0)
    {
        <div class="alert  alert-danger">
            <h4 class="alert-heading">Information !</h4>
            <p class="mb-0">There is no e-mail accounts added, to start sending e-mails please <a href="@Url.Action("EmailAccount", "EmailAccounts")" class="alert-link">add a new one </a>!</p>
        </div>
    }

    <div class="my-5 empty-mailbox-div">
        <img src="~/Content/Images/mailbox-empty.png" />
    </div>
}

@section Scripts
{
    <script type="text/javascript">

        function deleteMessage(id, btn) {

            if (!confirm("Confirm to remove this e-mail?"))
                return;

            $.ajax({
                type: 'POST',
                url: "@Url.Action("Delete", "Home")",
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.Success) {
                       window.location.href = "@Url.Action("Index", "Home")";
                    } else {
                        alert(data.Message);
                    }
                },
                error: function (data) {
                    alert(data.Message);
                },
                dataType: 'json'
            });

        }

        $(document).ready(function () {
            $('.messagesTable').DataTable({
                columnDefs: [
                    {
                        targets: [0, 1, 2, 3, 4, 5, 6],
                        className: 'dt-head-center'
                    },
                    {
                        targets: [ 4, 5, 6],
                        orderable: false
                    }
                ]
            }
            );
        });
    </script>
}