<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EMAIL SENDER by SLAJAN</title>
    <link rel="icon" href="~/Content/favicon.ico" type="image/x-icon">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")

    <!--FontAwesome icons-->
    <script src="~/Scripts/fa-icons-kit.js" crossorigin="anonymous"></script>

    <!--DataTable files-->
    <script type="text/javascript" src="~/DataTables/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/DataTables/datatables.min.css" />

    <!--CKEditor-->
    <script type="text/javascript" src="~/Scripts/ckeditor.js"></script>

    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
            <div class="container-fluid">
                <a class="navbar-brand p-2" href=@Url.Action("Index", "Home")>
                    <i class="fa-solid fa-envelopes-bulk fa-2xl px-2"></i>
                    E-mails
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            @Html.ActionLink("About App", "About", "Home", null, new { @class = "nav-link " })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link " })
                        </li>
                    </ul>
                    <div class="d-flex">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="container body-content">

        @RenderBody()

        <footer class="mt-5">
            <hr />
            <p class="text-align: text-center">
                &copy; @DateTime.Now.Year - EMAIL SENDER by
                <a href="https://slawomirjankowski.github.io/">SLAJAN</a>
            </p>
        </footer>
    </div>
</body>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/bootstrap")*@


    @RenderSection("scripts", required: false)

</html>
