@model IEnumerable<MailSender.Models.Domains.UserEmailAccountParams>

@{
    ViewBag.Title = "Sender settings";
}

<div class="btn-toolbar justify-content-between">
    <div class="input-group">
        <h1 class="">Manage your e-mail accounts </h1>
    </div>

    <div class="input-group">
        <button class="btn btn-info btn-lg"
                onclick='window.location.href="@Url.Action("EmailAccount", "EmailAccounts", new {isReadonly = false})"'>
            <i class="fa-solid fa-envelope-open-text"></i>
            Add new account
        </button>
    </div>
</div>


<hr />

@if (Model != null && Model.Any())
{
    <table id="messagesTable" class=" messagesTable table display table-hover table-striped mt-5 mb-5 text-center align-middle">
        <thead class="table-primary text-center dt-head-center">
            <tr>
                <th scope="col" style="width:auto">SENDER NAME</th>
                <th scope="col" style="width:auto">E-MAIL</th>
                <th scope="col" style="width: 5%"><i class="fa-solid fa-pen"></i></th>
                <th scope="col" style="width: 5%"><i class="fa-solid fa-magnifying-glass"></i></th>
                <th scope="col" style="width: 5%"><i class="fa-solid fa-trash-can"></i></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var userEmailAccount in Model)
            {
                <tr>
                    <td>@userEmailAccount.SenderName</td>
                    <td>@userEmailAccount.SenderEmail</td>
                    <td>
                        <button class="btn btn-sm btn-primary"
                                onclick='window.location.href="@Url.Action("EmailAccount", "EmailAccounts", new { id = userEmailAccount.Id})"'>
                            Edit
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-success"
                                onclick='window.location.href="@Url.Action("EmailAccount", "EmailAccounts", new { id = userEmailAccount.Id, isReadonly= true  })"'>
                            View
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-danger"
                                onclick="deleteEmailAccount('@userEmailAccount.Id', this)">
                            Delete
                        </button>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}
else
{
    <div class="alert  alert-danger">
        <h4 class="alert-heading">Information !</h4>
        <p class="mb-0">
            There is no e-mail accounts added, to start sending e-mails please
            <a href="@Url.Action("EmailAccount", "EmailAccounts")" class="alert-link">
                add a new one
            </a>!
        </p>
    </div>
}

@section Scripts
{
    <script type="text/javascript">

        function deleteEmailAccount(id, btn) {

            if (!confirm("Please confirm, if you want to delete this account?"))
                return;

            $.ajax({
                type: 'POST',
                url: "@Url.Action("Delete", "EmailAccounts")",
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.Success) {
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);
                    } else {
                        alert(data.Message);
                    }
                },
                error: function (data) {
                    alert(data.Message);
                },
                dataType: 'json'
            });

        }

    </script>
}

